apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "runtime-security-monitor.fullname" . }}-agent
spec:
  selector:
    matchLabels:
      app: runtime-security-agent
  template:
    metadata:
      labels:
        app: runtime-security-agent
    spec:
      hostPID: true
      serviceAccountName: {{ include "runtime-security-monitor.serviceAccountName" . }}
      containers:
        - name: agent
          image: {{ .Values.image.agent }}
          securityContext:
            privileged: true
            capabilities:
              add: ["BPF", "SYS_ADMIN", "SYS_PTRACE"]
          volumeMounts:
            - name: sys-kernel-debug
              mountPath: /sys/kernel/debug
            - name: cgroup
              mountPath: /sys/fs/cgroup
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
      volumes:
        - name: sys-kernel-debug
          hostPath:
            path: /sys/kernel/debug
            type: Directory
        - name: cgroup
          hostPath:
            path: /sys/fs/cgroup
            type: Directory
